@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;


.hidden {
    display: none !important;
}

#city-header {
    height: 272px;
    background-position: center;
    display:flex;
    align-items: end;
}

@media (max-width: 992px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
  justify-content: center;
}

@media (min-width: 992px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(16.6%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-16.6%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.hide{
 width: 20px;
 height: 20px;
}

img {
 image-resolution: 30;
  border-radius: 25px;
  
}

h3 {
font-family: 'Bodoni MT';

}

h2 {
  font-family: 'Bodoni MT';
  
}