@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    height: 300px;
}
.hidden {
    display: none !important;
}

#city-header {
    height: 272px;
    background-position: center;
    display:flex;
    align-items: end;
}